
.display-4 {
  margin-top: 2rem;
  text-align: center;
}

.row {
  margin-top: 2rem;
}

.table thead {
  background: #fdfdfe;
}

.table thead th {
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  width: 25%;
}

.table tbody th small {
  text-align: center;
}

.table tbody th,
.table tbody th > div {
  min-width: 180px;
  min-height: 120px;
  vertical-align: top;
}

.table tbody th {
  width: 25%;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
  width: 25%;
  min-width: 180px;
  min-height: 150px;
}

form {
  margin: 0 auto;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

p.more {
  font-size: 0.8rem;
  font-weight: 200;
}

@media screen and (min-width: 700px) {
  .table tbody th,
  .table thead th {
    font-size: 1.1rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 1000px) {
  .table tbody th,
  .table thead th {
    font-size: 1.25rem;
  }

  p.more {
    font-size: 1rem;
  }

  .table tbody th,
  .table tbody th > div {
    min-height: 160px;
    vertical-align: top;
  }
}
